// Colors
$main-bg-color: #fff;

$white: #fff;
$black: #000000;

$black-text: #000000;
$white-text: #fff;
$grey-text: #7d7987;
$hover-text: #1f1534;

$accent-color: #458ff6;

// Font
$font-family: "Mulish", sans-serif;
