.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header-nav__list {
  display: flex;
}

.header-nav__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.header-nav__link {
  padding: 20px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  transition: color 500ms ease;
  &:hover,
  &:focus {
    color: $hover-text;
  }
}
